.container {
    max-width: @largura-container;
    width: 100%;
    margin: 0 auto;
}

header {
    background-color: #cores[cabecalho];
    position: sticky;
    top: 0;
    left: 0;

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: (@espacamento-padrao * 2) 0;
    }
}

.menu {
    display: flex;

    li {
        font-weight: bold;
        margin-left: (@espacamento-padrao * 3);

        a {
            color: #cores[texto-claro];
            text-decoration: none;
        }
    }
}

section {
    padding: (@espacamento-padrao * 7) 0;
}
